= f.input :name,
  as: :check_boxes,
  collection: Condition::Wind.name_options,
  label: 'Type'
= f.input :direction,
  as: :check_boxes,
  collection: Condition.direction_options
= f.input :speed,
  as: :check_boxes,
  collection: Condition::Wind.speed_options
