|
  $.ajax().done(function(){
    $(".modal_content").html("#{ j render "edit" }").foundation('open');

    $('form').submit(function(){
      if($('form #spot_name').val() !== ''){
        $("#modal").foundation('close');
      }
    });
  });
