|
  if("#{ flash[:success] }"){
    let content = "<h2 class='major'>Success!</h2><p>#{ flash[:success] }</p>",
        url = "#{ spot_path(@spot) }";
    open_modal(content, close_modal_and_redirect(url));
  };
