@import 'foundation';
@import "main";
@import 'users';

abbr[title], abbr[data-original-title] {
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
    color: white;
}

.button {
  margin-right: 0.5rem;
}

a {
  border-bottom: none;
}
