@import 'foundation';
@import "main";
@import 'users';

abbr[title], abbr[data-original-title] {
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
    color: white;
}

.button {
  margin-right: 0.5rem;
}

a {
  border-bottom: none;
}

// forms
.error label {
  color: white;
}

.error small.error {
  background: none;
  color: #f04124;
  padding: 0rem 0rem;
  margin-top: .5rem;
}

.form_errors {
  color: #de2d0f;
  margin: 1rem 0rem;
  font-style: italic;
}

.social_sign_up_links {
  margin: 2.5rem 0 .5rem 0;
}
