@import 'foundation_and_overrides';
@import 'users';
@import 'spots';
@import 'mixins/item_circle.scss';
@import 'static_pages';
@import 'form';
@import 'forecasts';
@import 'navigation';

@font-face {
  font-family: 'Bellota';
  src:font_url('bellota/Bellota-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;

  @include breakpoint(large){
    font-size: 16px;
  }
}

svg {
  height: 1.5rem;
  width: auto;
}

.wrapper {
  padding: 1.5em;

  @include breakpoint(medium) {
    padding: 4em;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

small {
  font-size: 70%;
}

.notice {
  background: green;
}

.alert {
  background: red;
}

html, body {
  height: 100%;
}

h2 {
  font-size: 1.5rem;
}

abbr[title], abbr[data-original-title] {
    text-decoration: none;
    cursor: pointer;
    border-bottom: none;
    color: white;
}

.button_alert {
  background: $alert-color
}

.button {
  margin-right: 0.5rem;
}

a {
  border-bottom: none;
}

.error small.error {
  background: none;
  color: #f04124;
  padding: 0rem 0rem;
  margin-top: .5rem;
}

// .invalid-feedback.d-block {
//   display: block;
//   background: none;
//   color: #f04124;
//   padding: 0rem 0rem;
//   margin-top: .5rem;
//   font-size: 80%;
//   line-height: inherit;
// }

.form_errors {
  color: #de2d0f;
  margin: 1rem 0rem;
  font-style: italic;
}

.social_sign_up_links {
  margin: 2.5rem 0 .5rem 0;
}


// modal
#modal {
  padding: 5.2rem 3.6rem;
  margin-bottom: 100px;

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid black;
    padding-bottom: .4rem;
    font-weight: bold;
  }
}


// Forms

.input label {
  font-size: 1rem;
  font-weight: bold;
}

.check_label_form {

  .form-inputs {
    legend {
      margin-top: 1rem;
    }

    input {
      margin-bottom: .25rem;
    }
  }

  input[type='checkbox']{
    display: none;
  }


  legend{
    font-weight: bold;
    text-transform: capitalize;
  }

  .form-inputs div:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .collection_check_boxes {
    border: 1px solid #cacaca;
    padding: 0.75rem 1rem;
    text-transform: capitalize;
    font-size: .8rem;
    margin-right: 0rem;
  }

  input[type='checkbox']:checked + .collection_check_boxes {
    background: $primary-color;
    border: 1px solid $primary-color;
    color: white;
    font-weight: bold;
  }

  fieldset div {
    display: inline-block;
  }

}

.form-actions {
  margin-top: 1rem;
  text-transform: uppercase;
}














// direction circle
.circle-container {
  @include on-circle($item-count: 5, $circle-size: 20em, $item-size: 6em);
  margin: 5em auto 0;
  border: solid 5px tomato;

  .form-check {
    display: block;
    max-width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    border: solid 5px tomato;
    transition: .15s;

    &:hover,
    &:active {
      filter: grayscale(0);
    }
  }
}








// map
.map {
  height: 400px;
  width: 100%;
}
