#static_pages_home {
  background: url('jeremy-bishop-664695-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .main-content {
    background: white;
    width: 100%;
    padding: 3em 2em;

    @include breakpoint(medium only) {
      div {
        width: 50%;
        margin: auto;
      }
    }

    @include breakpoint(large) {
      width: 500px;
      height: 100%;
      padding: 4em;

      div {
        height: 100%;
      }
    }
  }

  .main-content div {

    ul li {
      line-height: 2em;
      font-weight: bold;
      text-transform: uppercase;
    }

    nav {
      margin-bottom: 2.5em;
    }

    header {
      margin-bottom: 3.2em;
    }

    main {
      margin-bottom: 1em;
    }

    footer {
      margin-top: auto;
    }

  }
}
