#static_pages_home {
  background: url('jeremy-bishop-664695-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .wrapper {
    background: white;
    width: 100%;

    @include breakpoint(medium only) {
      > .primary-nav {
        width: 50%;
        margin: auto;
      }
    }

    @include breakpoint(large) {
      width: 500px;
      height: 100%;

      #primar-navigation {
        height: 100%;
      }
    }

    .close-button {
      font-size: 2em;
    }

    footer {
      position: absolute;
      bottom: 4em;
    }
  }
}
