|
  $.ajax().done(function(){
    let content = "#{ j render "index" }"

    if($('#modal').css('display') == 'block'){
      $('.modal_content').html(content);
    } else {
      open_modal(content);
    }
  });
